.bg {
  background-color: rgb(235, 220, 220);
}

.top-school {
  color: purple;
  margin-top: 20px;
  font-size: 50px;
}
.contact-btn {
  margin: 30px;
  width: 180px;
  border-radius: 30px;
  transition: 0.7s;
}

.contact-btn:hover {
  background: #c0392b;
}
