.footer {
  background-color: rgb(235, 220, 220);
  height: 250px;
  margin-top: 100px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.footer-sections {
  margin-top: 70px;
}
.icons {
  margin-right: 20px;
  font-size: 30px;
}

.hr {
  border-bottom: 3px solid dimgray;
  width: 50%;
  margin-bottom: 10px;
}
